<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-downloader" version="0.0.4">
    <name>Downloader</name>
    <description>Cordova Downloader Plugin with no cordova-file-transfer dependency</description>
    <author>Ben Wilson</author>
    <license>Apache 2.0</license>
    <keywords>cordova,download,downloader,file,unzip</keywords>

    <repo>https://github.com/benjaminmwilson/cordova-plugin-downloader</repo>
    <issue>https://github.com/benjaminmwilson/cordova-plugin-downloader/issues</issue>

    <engines>
        <engine name="cordova" version=">=5.0.0" />
        <engine name="cordova-android" version=">=6.0.0" />
        <engine name="cordova-ios" version=">=4.0.0" />
    </engines>

    <dependency id="cordova-plugin-file" version=">=4.0.0" />
    <dependency id="cordova-plugin-zip" version=">=3.0.0" />

    <js-module src="www/download.js" name="download">
        <clobbers target="download" />
    </js-module>
</plugin>
